<div class="innerpage-background">
    <div class="innerpage-heading">
        <span>Skills:</span>
        <span class="innerpage-button" (click)="backtohome()">Back</span>
    </div>
    <div class="innerpage-body">
        <div class="images-block1">
            <img class="image-htmlcss" src="../../assets/htmlcssjs.jpg" />
            <img class="image-react" src="../../assets/reactjs.webp" />
            <img class="image-bootstrap" src="../../assets/bootstrap.svg" />
            <img class="image-angular" src="../../assets/angular.png" />
            <img class="image-node" src="../../assets/nodejs.png" />
        </div>  
        <div class="images-block2">
            <img class="image-angular" src="../../assets/json.png" />
            <img class="image-springboot" src="../../assets/springboot.webp" />
            <img class="image-java" src="../../assets/java.jpg" />
            <img class="image-eclipse" src="../../assets/eclipse.svg" />
            <img class="image-vscode" src="../../assets/vscode.png" />
        </div>
        <div class="images-block3">
            <img class="image-pgadmin" src="../../assets/pgadmin.webp" />
            <img class="image-figma" src="../../assets/figma.png" />
            <img class="image-aws" src="../../assets/aws.png" />
        </div>     
    </div>
</div>