<div class="innerpage-background">
    <div class="innerpage-heading">
        <span>Experience:</span>
        <span class="innerpage-button" (click)="backtohome()">Back</span>
    </div>
    <div class="innerpage-body">
        <div>
            <div class="innerpage-subheading">Internship -</div>
            <div class="innerpage-body">During my internship at IBM in collaboration with Smartbridge in 2019, I received comprehensive training in Artificial Intelligence with a focus on Python programming and various Machine Learning (ML) methods. As part of this internship, I successfully completed a significant project involving Malaria cell detection using the Convolutional Neural Network (CNN) method in Machine Learning. The project's objective was to analyze blood cell images collected from patients to determine if they were diagnosed with malaria or not. By leveraging a dataset obtained from Kaggle, the developed model achieved an impressive accuracy rate of 97% and delivered results within a rapid one-minute timeframe. This project showcased the practical application of AI in healthcare and its potential to aid in early disease diagnosis and timely medical intervention.</div>
        </div>
        <div class="innerpage-heading"><span>Work Experience :</span></div>
        <div>
            <div class="innerpage-subheading">Wipro Technologies : Oct 2021 - present </div>
            <div class="innerpage-body">Here is the detailed flow of projects I worked on till now. With a solid
                background in Basic Java and React Js, along with hands-on experience
                in project development and deployment using AWS services.
                <br/><br/>
                In my previous role as a Front-End Developer, I successfully
                contributed to the development and deployment of a website project
                using React Js. This involved close collaboration with the UX Design
                team, obtaining necessary approvals from leads, and delivering a
                high-quality application within specified deadlines. You can view the
                completed project at <a style="color: #fff;text-decoration: underline;" href="https://www.stellantisdigitalhub.com/" target="_blank">https://www.stellantisdigitalhub.com/</a>.
                <br/><br/>
                Additionally, I took on the role of a Full Stack Developer for a
                ChatBot project where I utilized my skills in React Js, Node Js, and
                Postgres. I played a crucial role in coordinating with the development
                team, integrating various components, and deploying the application to
                the Cloud. My involvement in this project expanded my knowledge of
                technologies such as Docker and the detailed process of application
                deployment on the Cloud.
                <br/><br/>
                One of the highlights of my experience on the ChatBot project was
                working with real-time data obtained from Snowflakes, fetching the
                data from ML Model, transforming the data to use for better UI, and
                presenting visualizations based on user queries. As a Full Stack
                Developer, I ensured seamless communication between the ML model and
                the application, fetching and formatting data for easy accessibility
                and plotting graphs according to the ML model suggestions.
                <br/><br/>
                In terms of self-learning, I actively pursued additional technologies
                beyond my immediate project requirements. Despite my primary focus on
                React Js and Node Js, I acquired a solid understanding of Angular and
                Spring Boot through training sessions and collaboration on an internal
                project of client organization. My commitment to continuous learning
                is evident in my willingness to adapt to new technologies, as
                demonstrated by my successful acquisition of Node Js skills for the
                ChatBot project.
                <br/><br/>
                I am enthusiastic about the opportunity to bring my skills and
                dedication to contribute for the development of innovative projects
                and driving success in a collaborative environment. 
            </div>
        </div>     
    </div>
</div>