<div>
    <div class="contact-background">
        <div class="contact-details">
            <span class="contact-details-eachblock">
                <img class="contact-details-image" src="../../assets/linkedinlogo.png" />
                 <a class="contact-details-text" href="https://www.linkedin.com/in/vanam-lavanya1106" target="_blank" > 
                  Connect with me on Linkedin
                 </a>
            </span>
            <span class="contact-details-eachblock">
                <img class="contact-details-image" src="../../assets/phonelogo.jpg" />
                <span class="contact-details-text">9398075685</span>
            </span>
        </div>
        <div class="contact-details">
            <span class="contact-details-eachblock">
                <img class="contact-details-image" src="../../assets/addresslogo.png" />
                <span class="contact-details-text">Hyderabad, 500092</span>
            </span>
            <span class="contact-details-eachblock">
                <img class="contact-details-image" src="../../assets/maillogo.png" />
                <span class="contact-details-text">lavanyavanam456@gmail.com</span>
            </span>
        </div>
    </div>
    <!-- <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
        <span>Learn Angular</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
      </a>
      </div> -->
    <div>
        <div class="other-details" >
            <div style="margin-right: auto;" class="card other-details-eachblock">
                <div class="other-details-eachblock-heading">About:</div>
                <div class="other-details-eachblock-body">I am a Computer Science & Engineering Graduate of 2021, currently employed as a proficient Full Stack Developer.</div>
                <div class="other-details-eachblock-readmore" (click)="aboutpageredirection()">Read More</div>
            </div>
            <div style="margin-left: auto;" class="card other-details-eachblock">
                <div class="other-details-eachblock-heading">Education:</div>
                <div class="other-details-eachblock-body">I am a 2021 graduate from Anurag Group of Institutions with an impressive aggregate score of 91%.</div>
                <div class="other-details-eachblock-readmore" (click)="educationpageredirection()">Read More</div>
            </div>
        </div>
        <div class="other-details">
            <div style="margin-right: auto;" class="card other-details-eachblock">
                <div class="other-details-eachblock-heading">Experience:</div>
                <div class="other-details-eachblock-body">My journey has also taught me the value of collaboration and effective communication,enabling me to contribute effectively to complex projects.</div>
                <div class="other-details-eachblock-readmore" (click)="experiencepageredirection()">Read More</div>
            </div>
            <div style="margin-left: auto;" class="card other-details-eachblock">
                <div class="other-details-eachblock-heading">Skills:</div>
                <div class="other-details-eachblock-body-images">
                  <img class="skills-image-htmlcss" src="../../assets/htmlcss.png" />
                  <img class="skills-image-react" src="../../assets/reactjs.webp" />
                  <img class="skills-image-node" src="../../assets/nodejs.png" />
                </div>
                <div class="other-details-eachblock-readmore" (click)="skillspageredirection()">Read More</div>
            </div>
        </div>
    </div>
</div>

