<div class="innerpage-background">
    <div class="innerpage-heading">
        <span>Education:</span>
        <span class="innerpage-button" (click)="backtohome()">Back</span>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>Course</th>
                <th>Institute</th>  
                <th>Year of Passing</th>    
                <th>Percentage or CGPA</th>                                                  
            </tr>
            <td class="table-td">
                <tr>Bachelor Of Technology</tr>
                <tr>Intermediate</tr>
                <tr>Secondary School Certificate</tr>
            </td>
            <td>
                <tr>Anurag Group of Institutions</tr>
                <tr>Narayana Junior College</tr>
                <tr>Naagarjuna High School</tr>
            </td>
            <td class="table-td">
                <tr>2021</tr>
                <tr>2017</tr>
                <tr>2015</tr>
            </td>
            <td>
                <tr>9.13</tr>
                <tr>97%</tr>
                <tr>9.3</tr>
            </td>
        </table>
    </div>
    <div class="innerpage-body">
        <div class="innerpage-heading"><span>Academic Projects:</span></div>
        <div>
            <div class="innerpage-subheading">Voice Recognition -</div>
            <div class="innerpage-body">During my undergraduate studies, I accomplished a Voice Recognition project, a minor project in which I utilized a Kaggle dataset and applied diverse Machine Learning concepts. The primary goal was to develop a machine learning-based system adept at detecting and recognizing individual voices, even amidst variations induced by factors like cold, cough, or other influences. This project aimed to bolster voice recognition accuracy and robustness, ensuring effective performance in real-world scenarios characterized by diverse voice variations.<br/><br/>
                The primary application of this project finds relevance in crime investigation scenarios. In the event of a crime incident where a voice is identified, the developed model can be instrumental in determining whether that voice has a prior criminal record or any pertinent information. This capability enhances the investigative process by providing a tool to cross-reference and analyze voice data, potentially uncovering valuable insights and aiding law enforcement in their efforts to gather relevant information for ongoing investigations.</div>
        </div>
        <div>
            <div class="innerpage-subheading">Facial Emotion Recognition -</div>
            <div class="innerpage-body">During my undergraduate studies, I spearheaded a substantial project focusing on Facial Emotion Recognition, designated as my major project. Employing a Kaggle dataset and deploying diverse Machine Learning concepts, the project aimed to create a machine learning-based system proficient in discerning human emotions through facial expressions. The model considered seven primary emotions: Neutral, Happy, Sad, Fear, Surprise, Disgust, and Angry.<br/><br/>
                The primary application of this project lies in large public gatherings, where the system can capture and analyze facial expressions to accurately determine individuals' emotions. This functionality holds particular significance in enhancing public safety and security, as the model has the potential to identify individuals exhibiting signs of fear or tension. Such insights enable security personnel to monitor these individuals closely, potentially preventing incidents such as bomb attacks and contributing to an overall improvement in public safety.</div>
        </div>
        <div>
            <div class="innerpage-subheading">Online Quiz -</div>
            <div class="innerpage-body">I conceived and executed the design and development of an engaging quiz game centered around various technology topics using HTML and CSS. This interactive game provides users with the flexibility to choose their preferred tech topic and actively participate in a quiz format. Each quiz is composed of multiple-choice questions, presenting users with various options and requiring them to select the correct answer. Post-completion, the user's score is promptly displayed, reflecting the accuracy of their responses and adding a dynamic element to the interactive learning experience.</div>
        </div>        
    </div>
</div>